---
layout: "../../includes/raw.liquid"
---
<div class="content-layout">
  <h1>{{ title }}</h1>
  <ul class="topic-list mb-8">
    {%- for topic in topics -%}
      <li class="interest-box">
        <a href="/topic/{{ topic }}">{{ topic }}</a>
      </li>
    {%- endfor -%}
    {%- if decade_disproved -%}
      <li class="interest-box">
        <a href="/decade/{{decade_disproved}}">{{decade_disproved}}</a>
      </li>
    {%- endif -%}
  </ul>

  <div class="wrapped-content">{{ content }}</div>

  {%- if related -%}

    <hr>

    <h2>Related</h2>
    <ul class="topic-list mb-8">
    {% for rel in related %}
      {% assign matches = collections.all | where: "fileSlug", rel %}
      {% assign page = matches[0] %}
      {% if page %}
        <li class="interest-box"><a href="{{ page.url }}">{{ page.data.title }}</a></li>
      {% endif %}
    {% endfor %}
  {%- endif -%}
  </ul>
</div>
