---
layout: "../../includes/raw.liquid"
---
<div class="wrapped-content">
  <h1>{{ title }}</h1>
  <ul class="topic-list mb-8">
    {%- for topic in topics -%}
      <li class="interest-box">
        <a href="/topic/{{ topic }}">{{ topic }}</a>
      </li>
    {%- endfor -%}
  </ul>

  {{ content }}

  <hr>

  <h2>Related</h2>
  <ul>
  {% for rel in related %}
    {% assign matches = collections.all | where: "fileSlug", rel %}
    {% assign page = matches[0] %}
    {% if page %}
      <li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
