---
title: Refresher
---
<!doctype html>
<html>
  <head>
    <title>{{ siteName }}: {{ title }}</title>
    <link rel="stylesheet" href="{{'/assets/bundle.css' | bust }}">
    <link rel="stylesheet" href="{{'/assets/sodapop-search.css' | bust }}">
  </head>
  <body>
    <div class="header">
      <div>
        <a class="flex font-bold text-lg mr-4" href="/">{{ siteName }}</a>
      </div>
      <div class="flex gap-6 text-sm">
        <a href="/#topic">Browse by Topic</a>
        <a href="/#decade">Browse by Decade</a>
        <a href="/about">About</a>
        <a href="#" class="sodapop-search-trigger" onClick="window.dispatchEvent(new CustomEvent('sodapop-search'));">Search</a>
        <a href="mailto:{{email}}?subject={{ siteName }}">Submit a Myth</a>
      </div>
    </div>
    <div class="main-wrapper">
      <div id="search-root"></div>
      <div class="content">
        {{ content }}
      </div>
    </div>
    <script src="{{'/assets/index.js' | bust }}"></script>
  </body>
</html>
